<div class='jumbotron center'>
  <h1>Welcome to my Recipes app</h1>
  <h2>
    This is the homepage for some sweet recipes that we've made and eaten of course. Awesome.
  </h2>
  
  <%= link_to 'Sign up now', register_path, class: 'btn btn-lg btn-success' %>
</div>

<div class='row'>
  <div class='col-lg-4'>
    <h3 class='midrow'>View Recipes as Guest User</h3>
    <h2 class='left'>Browse and view Recipes as a Guest and sign up later</h2>
    <p><%= link_to 'Browse recipes listings', recipes_path, class: 'btn btn-warning btn-small'%></p>
  </div>
  
  <div class='col-lg-4'>
    <h3 class='midrow'>Sign in to your Account</h3>
    <h2 class='left'>Add/Update your recipes, create reviews, like/dislike recipes and much much more.</h2>
    <p><%= link_to 'Login to your account', login_path, class: 'btn btn-warning btn-small'%></p>
  </div>
  
  <div class='col-lg-4'>
    <h3 class='midrow'>Check out our awesome chefs!</h3>
    <h2 class='left'>See the chefs we have cookin' for us, and join them!</h2>
    <p><%= link_to 'All Chefs', chefs_path, class: 'btn btn-warning btn-small'%></p>
  </div>
  
</div>